@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    font-family: 'Noto Sans Devanagari', sans-serif;
}
-webkit-scrollbar {
    display: none;
}

.headwrap {
    width: 100%;
}

.lang {
    background: #333333;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0.47em 0.9em;
    align-content: center;
    height: 1.8em;
}

.lang-block a {
    padding: 0.4em 0.4em;
    color: #a7a7a7;
    text-decoration: none;
    text-transform: uppercase;
}

.lang-block span {
    padding: 0.4em 1.9em;
    color: #a7a7a7;
    text-decoration: none;
    text-transform: uppercase;
}

.lang .socialtop img {
    width: 1.6em;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ebe9e9;
}


.navbar .tophead {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    width: 68em;
    margin-left: 1em;
    margin-right: 1em;

}

.leftmenu {
    display: none;
}

.leftmenu .hicon {
    display: none;
    width: 2em;
}

@media (max-width: 1200px) {
    .lang {
        display: none;
    }
}

@media (max-width: 850px) {
    .leftmenu {
        display: flex;
    }

    .leftmenu .hicon {
        display: flex;
        width: 1.6em;
    }

    .navbar .tophead .topicons .mobhidden {
        display: none;
    }

    .navbar .tophead .logo {
        width: 5.675em;
    }

    .navbar .tophead .topicons .iconhold .sicon {
        width: 1.6em !important;
    }

    .linkoverflow a {
        font-size: 0.7em;
    }

    .linkoverflow a img {
        width: 1.9em;
    }
}

.navbar .tophead a {
    width: 7.775em;
    height: fit-content;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}

.navbar .tophead a .jbt-logo {
    width: 100%;
}

.navbar .tophead .topicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.navbar .tophead .topicons .iconhold {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.navbar .tophead .topicons .iconhold img {
    width: 2em;
}

.navbar .tophead .topicons .iconhold .sicon {
    width: 1.7em;
}

.topicons .text {
    display: flex;
    align-items: center;
    margin-left: 0.6em;
    margin-right: 2em;
    padding-top: 0.19em;
    font-size: 1.24em;
    letter-spacing: 0.65px;
}

.linkwrap {
    display: flex;
    background-color: #1a1a1a;
    color: #ebe9e9;
    padding-top: 0em;
    position: relative;
    padding-bottom: 0em;
    justify-content: center;
}

.hashwrap {
    display: flex;
    background: #ebe9e9;
    padding-top: 0.24em;
    padding-bottom: 0.24em;
    justify-content: center;
}

.linkwrap .linkoverflow {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 70em;
    justify-content: space-between;
}

.hashwrap .linkoverflow {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 69em;
    justify-content: space-between;
}

.linkwrap .linkoverflow .link {
    list-style: none;
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: flex;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    align-items: center;
    min-width: fit-content;
    font-size: 1.1em;
    margin-top: 0.1em;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.megamenu {
    position: absolute;
    display: none;
    background: #ededed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: fit-content;
    z-index: 10;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 20px 40px rgba(0, 0, 0, .18);
}

.menucontainer {
    display: flex;
    width: 100%;
    min-height: 200px;
    flex-direction: row;
}

.menucontainer .catnav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #eee;
    width: 9em;
    padding-top: 1.4em;
}

.menucontainer .catnav .category {
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    padding-right: 2em;
    padding-left: 1.06em;
    color: #696969;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0.6px;
    font-weight: 600;
}

.menucontainer .catnav .active,
.menucontainer .catnav .category:hover {
    background: #fff;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #ffffff;
    color: #242424;
    margin: -1px;
}

.megamenu #one {
    display: flex;
}

.megamenu #two {
    display: none;
}

.megamenu #three {
    display: none;
}

.megamenu #four {
    display: none;
}


.menutab {
    width: 52.6em;
    background-color: white;
    position: relative;
}

.menutab .menuflex {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-right: 0.8em;
}

.menutab .menuflex .infobox {
    flex: 0 1 28%;
    width: 28%;
    margin-top: 0.8em;
    margin-right: 1.8em;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
}

.menutab .infobox .infohold {
    display: flex;
    flex-direction: column;
    width: 15.6em;
    height: fit-content;
    color: black;
}

.menutab .infobox .infohold .info {
    width: 100%;
    height: fit-content;
}

.menutab .infobox .infohold p {
    font-size: 0.95em;
    letter-spacing: 0.7px;
    margin-top: 1em;
    line-height: 1.1em;
    color: #111111;
}

.hashwrap .linkoverflow a {
    list-style: none;
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: flex;
    align-items: center;
    min-width: fit-content;
    font-size: 0.85em;
    transition: all 0.5s;
    letter-spacing: 0.5px;
}

.linkwrap .linkoverflow a .home {
    width: 1.47em;
    margin-bottom: 0.1em;
    margin-top: -0.07em;
}

.linkwrap .linkoverflow a .menu {
    width: 1.2em;
    margin-bottom: 0.1em;
    margin-top: -0.07em;
}

.popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: #EDEDED;
    transition: 1s all linear;
    overflow: auto;
    letter-spacing: 0.5px;
}

.popup .inner {
    display: flex;
    flex-direction: column;
    width: 70em;
}

.popup .inner .tophead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.8em;
    padding-bottom: 0.4em;
    margin-right: 1em;
    margin-left: 1em;
}

.popup .inner .tophead a {
    width: 9.375em;
}

.popup .inner .tophead a img {
    width: 100%;
    height: fit-content;
}

.popup .inner .tophead .social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup .inner .tophead .social .socialicon {
    width: 1.975em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.popup .inner .tophead .social .socialicon img {
    width: 100%;
    height: fit-content;
}

.popup .inner .tophead .social .search {
    width: 2em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.popup .inner .tophead .social .close {
    width: 1.5em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.popup .inner .tophead .social .search {
    margin-left: 1.4em;
}

.popup .inner .tophead .social .search img,
.popup .inner .tophead .social .close img {
    width: 100%;
    height: fit-content;
}

.popup .langselect {
    padding: 0.35em 0.4em;
    background: #1c1c1c;
    font-size: 0.9em;
    letter-spacing: 0.1px;
    color: #a7a7a7;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.popup .langselect a {
    padding: 0.2em;
    color: #a7a7a7;
    text-decoration: none;
    text-transform: uppercase;

}
.popup .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}
.popup .icons .mobicons {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup .icons img {
    width:1.7em;
}
.popup .icons span {
    font-size: 0.7em;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-top: 0.5em;
}


.popup .cattrend {
    display: flex;
    flex-direction: column;
    width: revert;
    padding: 1em;
}

@media (max-width:800px) {
    .popup .cattrend {
        flex-direction: row-reverse;
    }

    .popup .cattrend .trending {
        flex-direction: column;
        align-content: center;
        background: #00000000;
        width: 45em;
        color: #5A5A5A;
    }

    .popup .cattrend .trending a {
        margin-left: 0px;
        margin-top: 0em;
        padding-top: 0.6em;
        padding-bottom: 0.3em;
    }
}

.popup .trending {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: white;
    border-radius: 10px;
    align-content: center;
    padding-bottom: 0.6em;
    padding-left: 1em;
    overflow: auto;
}

.popup .trending .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.6em;
    letter-spacing: 0.5px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.popup .cards .head {
    background: white;
    padding-left: 0.6em;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    border-radius: 6px;
    border-left: 0.4em solid #ef412f;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.popup .head h4,
.popup .head img {
    margin-right: 0.7em;
    font-size: 1em;
}

.popup .text {
    font-size: 1em;
}

.popup .text span {
    padding-top: 0.6em;
    padding-bottom: 0.3em;
}

.popup .text span:hover {
    font-size: 1.05em;
    color: #EF412F;
    transition: all 0.3s;
    cursor: pointer;
}

.popup .head img {
    width: 0.5em;
}

.popup .trending a {
    margin-left: 0.7em;
    margin-right: 0.7em;
    display: flex;
    align-items: center;
    min-width: fit-content;
    font-size: 0.95em;
    font-weight: 500;
}

.popup .newsflex {
    display: flex;
    flex-wrap: wrap;
}

.popup .newsflex .cards {
    flex: 1 1 16%;
    height: fit-content;
}

.popup .newsflex .cards .text {
    flex-direction: column;
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.popup .newsflex .cards #cat1 {
    display: flex;
}

.popup #cat2,
.popup #cat3,
.popup #cat4,
.popup #cat5,
.popup #cat6,
.popup #cat7,
.popup #cat8 {
    display: none;
}

@media (max-width: 800px) {
    .popup .newsflex .cards {
        flex: 1 1 100%;
    }

    .popup .inner {
        min-width: 20em;
    }

    .popup .socialicon {
        display: none;
    }

    .popup .inner .tophead a {
        width: 6.67em;
    }
}